<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Nazwa użytkownia</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Nazwa użytkownia jest wymagana</div>
            <div *ngIf="username.errors.minlength">
              Nazwa użytkownia musi mieć co najmniej 3 znaki
            </div>
            <div *ngIf="username.errors.maxlength">
              Nazwa użytkownia musi mieć co najwyżej 20 znaki
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Adres email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Adres email jest wymagany</div>
            <div *ngIf="email.errors.email">
              Wprowadź poprawny adres email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="password.errors.minlength">
              Hasło musi mieć co najmniej 6 znaków
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Zarejestruj się</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Rejestracja zakończyła się niepowodzeniem!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Rejestracja udana!
      </div>
    </div>
  </div>