<article class="table-header">
  <div class="questions-status-container">
    <p>
      Odkryte pytania: {{ getAnsweredQuestions().length }}/{{
        deck.questions != undefined ? deck.questions.length : 0
      }}
    </p>
  </div>
</article>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      [fxFlex]="100 / gridColumns + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let card of deck.questions; let idx = index"
    >
      <app-game-card
        [data]="card"
        (cardClicked)="cardClicked(idx)"
        class="mat-elevation-z4"
      ></app-game-card>
    </div>
  </div>
</div>
