<div class="add-button-container">
  <button
    class="button-add-row"
    mat-raised-button
    color="primary"
    (click)="addDeck()"
  >
    Dodaj talie
  </button>
  <button
    class="button-add-row"
    mat-raised-button
    color="primary"
    (click)="createDeck()"
  >
    Stwórz talie
  </button>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      [fxFlex]="100 / gridColumns + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let card of decks; let idx = index"
    >
      <app-game-deck
        [data]="card"
        (cardClicked)="cardClicked(card.secretId)"
        class="mat-elevation-z4"
      ></app-game-deck>
    </div>
  </div>
</div>
